body{
    background-color: #6998ab;
    font-family:Palatino Linotype, Palatino, Book Antiqua, serif;
}
#main{
    display: inline-block;
}
.bb{
    font-size: 20px;
}
.obj{
    font-size: 20px;
}
.mos{
font-family: Lucida Console, Monaco, monospace;
}
.full{
    color: black
}
@media screen and (max-width:568px){
    #main{
        display: block;
    }
}
@media screen and (max-width:568px){
    img{
        width: 100%;
    }
}